{
    "openapi": "3.0.0",
    "info": {
        "title": "GymTracker API Documentation",
        "description": "A RESTful API for tracking gym workouts, including exercises, training sessions, sets, and user performance statistics.",
        "contact": {
            "email": "your-email@example.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "GymTracker API Server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "username",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Full name of the user",
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "username": {
                                        "description": "Unique username",
                                        "type": "string",
                                        "example": "johndoe"
                                    },
                                    "email": {
                                        "description": "Unique email address",
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "description": "Password (min 8 characters)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "description": "Password confirmation",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully!"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "username": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful!"
                                        },
                                        "access_token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "username": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user",
                "operationId": "ad65cbbd4e9f201619eae184a5961a98",
                "responses": {
                    "200": {
                        "description": "Successfully logged out",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successfully logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get authenticated user details",
                "operationId": "961ad57987905b44ae2e2f40b82e76de",
                "responses": {
                    "200": {
                        "description": "User details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "username": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exercises": {
            "get": {
                "tags": [
                    "Exercises"
                ],
                "summary": "List all exercises",
                "operationId": "2127cfa4a1737fb80ac7a7abb55bbbb1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of exercises retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "muscle_group": {
                                                        "type": "string"
                                                    },
                                                    "equipment": {
                                                        "type": "string",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                }
            },
            "post": {
                "tags": [
                    "Exercises"
                ],
                "summary": "Create a new exercise",
                "description": "Create a new exercise (Admin Only)",
                "operationId": "60d93564a273a320c674e2993167efde",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "muscle_group"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Name of the exercise",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "Description of the exercise",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "muscle_group": {
                                        "description": "Primary muscle group targeted",
                                        "type": "string"
                                    },
                                    "equipment": {
                                        "description": "Equipment needed for the exercise",
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Exercise created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "muscle_group": {
                                                    "type": "string"
                                                },
                                                "equipment": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not admin"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exercises/{exercise}": {
            "get": {
                "tags": [
                    "Exercises"
                ],
                "summary": "Get details of a specific exercise",
                "operationId": "6b6ac9b490f2d3d278729de679ddfd6c",
                "parameters": [
                    {
                        "name": "exercise",
                        "in": "path",
                        "description": "Exercise ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exercise details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "muscle_group": {
                                                    "type": "string"
                                                },
                                                "equipment": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Exercise not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Exercises"
                ],
                "summary": "Update an exercise",
                "description": "Update an existing exercise (Admin Only)",
                "operationId": "203db0e1ebe4269f7ca816bdce7ca84a",
                "parameters": [
                    {
                        "name": "exercise",
                        "in": "path",
                        "description": "Exercise ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Name of the exercise",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "Description of the exercise",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "muscle_group": {
                                        "description": "Primary muscle group targeted",
                                        "type": "string"
                                    },
                                    "equipment": {
                                        "description": "Equipment needed for the exercise",
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exercise updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "muscle_group": {
                                                    "type": "string"
                                                },
                                                "equipment": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not admin"
                    },
                    "404": {
                        "description": "Exercise not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Exercises"
                ],
                "summary": "Delete an exercise",
                "description": "Delete an exercise (Admin Only)",
                "operationId": "e5fdb3ab4cdf77ffe60c0aeb4524ef63",
                "parameters": [
                    {
                        "name": "exercise",
                        "in": "path",
                        "description": "Exercise ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Exercise deleted successfully"
                    },
                    "403": {
                        "description": "Forbidden - User is not admin"
                    },
                    "404": {
                        "description": "Exercise not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/training-sessions/{trainingSession}/sets": {
            "get": {
                "tags": [
                    "Sets"
                ],
                "summary": "Get all sets for a specific training session",
                "operationId": "64fcb5b43097ee1d1067169c78774264",
                "parameters": [
                    {
                        "name": "trainingSession",
                        "in": "path",
                        "description": "Training Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of sets for the training session",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "reps": {
                                                        "type": "integer"
                                                    },
                                                    "weight": {
                                                        "type": "number"
                                                    },
                                                    "exercise": {
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "Training session not found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Sets"
                ],
                "summary": "Create a new set in a training session",
                "operationId": "74b28ce118b030a2a0619d5b2706b23c",
                "parameters": [
                    {
                        "name": "trainingSession",
                        "in": "path",
                        "description": "Training Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "exercise_id",
                                    "reps",
                                    "weight"
                                ],
                                "properties": {
                                    "exercise_id": {
                                        "description": "ID of the exercise",
                                        "type": "integer"
                                    },
                                    "reps": {
                                        "description": "Number of repetitions",
                                        "type": "integer"
                                    },
                                    "weight": {
                                        "description": "Weight used in the set",
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "notes": {
                                        "description": "Optional notes for the set",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Set created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "reps": {
                                                    "type": "integer"
                                                },
                                                "weight": {
                                                    "type": "number"
                                                },
                                                "exercise": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/sets/{set}": {
            "get": {
                "tags": [
                    "Sets"
                ],
                "summary": "Get detailed information about a specific set",
                "operationId": "6f2b978e63a1fcb041f19e83e5ed1160",
                "parameters": [
                    {
                        "name": "set",
                        "in": "path",
                        "description": "Set ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "reps": {
                                                    "type": "integer"
                                                },
                                                "weight": {
                                                    "type": "number"
                                                },
                                                "exercise": {
                                                    "type": "object"
                                                },
                                                "training_session": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "Set not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Sets"
                ],
                "summary": "Update a specific set",
                "operationId": "452d86ad580f6f9da05f97760aa7e14b",
                "parameters": [
                    {
                        "name": "set",
                        "in": "path",
                        "description": "Set ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "exercise_id": {
                                        "description": "ID of the exercise",
                                        "type": "integer"
                                    },
                                    "reps": {
                                        "description": "Number of repetitions",
                                        "type": "integer"
                                    },
                                    "weight": {
                                        "description": "Weight used in the set",
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "notes": {
                                        "description": "Optional notes for the set",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Set updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "reps": {
                                                    "type": "integer"
                                                },
                                                "weight": {
                                                    "type": "number"
                                                },
                                                "exercise": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "Set not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Sets"
                ],
                "summary": "Delete a specific set",
                "operationId": "f2e36f57b432e7a27ce1297e3deb6553",
                "parameters": [
                    {
                        "name": "set",
                        "in": "path",
                        "description": "Set ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Set deleted successfully"
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "Set not found"
                    }
                }
            }
        },
        "/api/users/{user}/stats/volume": {
            "get": {
                "tags": [
                    "Statistics"
                ],
                "summary": "Get volume statistics by muscle group for a user",
                "operationId": "83c9a757e7be4b4934359fcc3d8bd288",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Volume statistics retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "muscle_group": {
                                                        "description": "Name of the muscle group",
                                                        "type": "string"
                                                    },
                                                    "total_volume": {
                                                        "description": "Total volume (reps × weight)",
                                                        "type": "number",
                                                        "format": "float"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/api/users/{user}/stats/frequency": {
            "get": {
                "tags": [
                    "Statistics"
                ],
                "summary": "Get training frequency statistics for a user",
                "operationId": "05fff6648c6f7ebe61f6f32b3a910d9f",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "weeks",
                        "in": "query",
                        "description": "Number of weeks to show (default: 12)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 12
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Training frequency statistics retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "year": {
                                                        "description": "Year of the week",
                                                        "type": "integer"
                                                    },
                                                    "week_number": {
                                                        "description": "Week number (1-52)",
                                                        "type": "integer"
                                                    },
                                                    "week_start_date": {
                                                        "description": "Start date of the week",
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "week_end_date": {
                                                        "description": "End date of the week",
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "session_count": {
                                                        "description": "Number of training sessions in the week",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/api/users/{user}/stats/personal-bests": {
            "get": {
                "tags": [
                    "Statistics"
                ],
                "summary": "Get personal best weights for each exercise",
                "operationId": "3e0bdf5a2417dc0c05172f34e246d138",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Personal bests retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "exercise_id": {
                                                        "description": "ID of the exercise",
                                                        "type": "integer"
                                                    },
                                                    "exercise_name": {
                                                        "description": "Name of the exercise",
                                                        "type": "string"
                                                    },
                                                    "max_weight": {
                                                        "description": "Maximum weight lifted for this exercise",
                                                        "type": "number",
                                                        "format": "float"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/api/training-sessions": {
            "get": {
                "tags": [
                    "Training Sessions"
                ],
                "summary": "Get authenticated user's training sessions",
                "operationId": "cd22187aedd0c029b04d884683bd9515",
                "responses": {
                    "200": {
                        "description": "List of training sessions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "user_id": {
                                                        "type": "integer"
                                                    },
                                                    "date": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "notes": {
                                                        "type": "string",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                }
            },
            "post": {
                "tags": [
                    "Training Sessions"
                ],
                "summary": "Create a new training session",
                "operationId": "e8b527dc48f23eb26da6272d928384d6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "date"
                                ],
                                "properties": {
                                    "date": {
                                        "description": "Date of the training session",
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "notes": {
                                        "description": "Optional notes for the session",
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Training session created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "user_id": {
                                                    "type": "integer"
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "format": "date"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                }
            }
        },
        "/api/users/{user}/training-sessions": {
            "get": {
                "tags": [
                    "Training Sessions"
                ],
                "summary": "Get training sessions for a specific user",
                "operationId": "39cd9225ee82f47790701640d5252ab8",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of user's training sessions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "user_id": {
                                                        "type": "integer"
                                                    },
                                                    "date": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "notes": {
                                                        "type": "string",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/api/training-sessions/{trainingSession}": {
            "get": {
                "tags": [
                    "Training Sessions"
                ],
                "summary": "Get details of a specific training session",
                "operationId": "13ef5ad170eb9cf4f961c3e906df6c99",
                "parameters": [
                    {
                        "name": "trainingSession",
                        "in": "path",
                        "description": "Training Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Training session details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "user_id": {
                                                    "type": "integer"
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "format": "date"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "Training session not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Training Sessions"
                ],
                "summary": "Update a training session",
                "operationId": "86600251a4e6be84f439fffab8e2ea83",
                "parameters": [
                    {
                        "name": "trainingSession",
                        "in": "path",
                        "description": "Training Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "date": {
                                        "description": "Date of the training session",
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "notes": {
                                        "description": "Optional notes for the session",
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Training session updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "user_id": {
                                                    "type": "integer"
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "format": "date"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "Training session not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Training Sessions"
                ],
                "summary": "Delete a training session",
                "operationId": "90ba84c714eb6fad4c09d61061ffe3e5",
                "parameters": [
                    {
                        "name": "trainingSession",
                        "in": "path",
                        "description": "Training Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Training session deleted successfully"
                    },
                    "403": {
                        "description": "Unauthorized access"
                    },
                    "404": {
                        "description": "Training session not found"
                    }
                }
            }
        },
        "/api/users/{user}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get details of a specific user",
                "operationId": "f310aa35b9243239c65dbc8b8f4b135e",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ExerciseResource": {
                "title": "Exercise Resource",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Bench Press"
                    },
                    "muscle_group": {
                        "type": "string",
                        "example": "chest"
                    },
                    "description": {
                        "type": "string",
                        "example": "A compound exercise for the chest.",
                        "nullable": true
                    },
                    "demo_image_url": {
                        "type": "string",
                        "format": "url",
                        "example": "http://example.com/bench.jpg",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "SetResource": {
                "title": "Set Resource",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "training_session_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "set_number": {
                        "type": "integer",
                        "example": 1
                    },
                    "repetitions": {
                        "type": "integer",
                        "example": 10
                    },
                    "weight": {
                        "type": "number",
                        "format": "float",
                        "example": 80.5
                    }
                },
                "type": "object"
            },
            "TrainingSessionResource": {
                "title": "Training Session Resource",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "date": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-06-11"
                    },
                    "notes": {
                        "type": "string",
                        "example": "Good energy today.",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "UserResource": {
                "title": "User Resource",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "username": {
                        "type": "string",
                        "example": "johndoe"
                    },
                    "name": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "user@example.com"
                    },
                    "registration_date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-11T12:00:00Z"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "description": "Enter token in format (Bearer <token>)",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "User Registration and Login"
        },
        {
            "name": "Exercises",
            "description": "Managing and viewing exercises"
        },
        {
            "name": "Sets",
            "description": "Endpoints for tracking sets within a session"
        },
        {
            "name": "Statistics",
            "description": "API Endpoints for retrieving user training statistics"
        },
        {
            "name": "Training Sessions",
            "description": "Endpoints for tracking workout sessions"
        },
        {
            "name": "Users",
            "description": "API Endpoints for managing users"
        }
    ]
}